<div ng-controller="AdvertiseCtrl">
    <div class="row">
        <div class="col-lg-11">
            <h1 class="page-header"><span translate="advertise_management"></span></h1>
        </div>
        <div class="col-lg-1">
            <h1 class="page-header"><button type="button" class="btn btn-default" ng-click="goBack();"><span translate="BUTTON_BACK"></span></button></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <div>
        <p translate="under_construction"></p>
    </div>


</div>