<div ng-controller="ProductCategoryDetailCtrl">


    <div class="row">
        <div class="col-lg-11">
            <h1 class="page-header"><span translate="Category"></span></h1>
        </div>
        <div class="col-lg-1">
            <h1 class="page-header"><button type="button" class="btn btn-default" ng-click="back();"><span translate="BUTTON_BACK"></span></button></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span translate="Category"></span>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="col-lg-2">
                        <span><b translate="Name"> :</b></span><br /><br />
                        <span><b translate="Brand_Name"> :</b></span><br /><br />
                        <span><b translate="Description"> :</b></span><br /><br />
                        <span><b translate="Date"> :</b></span><br /><br />
                        <span><b translate="Status"> :</b></span><br /><br />
                    </div>
                    <div class="col-lg-6">
                        <span ng-bind="categories.name"></span><br /><br />
                        <span ng-bind="categories.brands.name"></span><br /><br />
                        <span ng-bind="categories.description"></span><br /><br />
                        <span ng-bind="categories.created_at"></span><br /><br />

                        <span>
                            <p ng-if="categories.status == 1"><span class="label label-info" translate="Active">Active</span></p>
                            <p ng-if="categories.status == 0"><span class="label label-default" translate="Disable"></span></p>
                        </span>

                    </div>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

